.container-menu{
    height: 60px;
    max-width:100%;
    background-color: beige;
    display: flex;
    align-items: center;
}
.wrapper{
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}
.searching-box{
    width: 250px;
    position: absolute;
    right: 320px;
    top: 45px;
    padding: 10px;
    display: none;
}
.logo{
    width: 130px;
    height: 130px;
}

@media screen and (max-width: 900px) {
    .searching-box {
        position: static;
        width: 100%;
        margin-top: 10px;
        display: block;
    }
}
